<mat-toolbar color="primary" class="fixed-header">
  <!-- <a  mat-button  routerLink="/customer-list"  routerLinkActive="active">Customers</a>
  <a  mat-button  routerLink="/customer-create">Create Customer</a>
  <a  mat-button  routerLink="/login">Login</a> -->
</mat-toolbar>
<main>
  <!-- <router-outlet  style="margin-top: 80px;"></router-outlet> -->

  <section>
    <h3>Templates</h3>
    <div *ngIf="templates$ | async as templatesList">
      <table mat-table [dataSource]="templatesList" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.templateId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Created</th>
          <td mat-cell *matCellDef="let element">{{ element.created | date }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef>Owner email</th>
          <td mat-cell *matCellDef="let element">{{ element.owner.email }}</td>
        </ng-container>

        <ng-container matColumnDef="use">
          <th mat-header-cell *matHeaderCellDef>Use template</th>
          <td mat-cell *matCellDef="let element">

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="templatesDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: templatesDisplayedColumns"></tr>
      </table>
    </div>
  </section>
</main>
